{% extends "base.html" %}
{% block content %}
<section class="bg-white p-8 max-w-4xl mx-auto text-center">
  <h1 class="text-4xl font-bold mb-6">Dr. Keertibhai Borisagar</h1>
  <p class="text-lg text-gray-800 mb-6">
    Dr.keertibhai Borisagar is a leading <b>Homeopathy Physician.</b> He is working in Khambha, District Amreli, Gujrat,and is vary well recognised for his amezing work in the field of homeopathic medicine.
  </p>
  <p class="text-lg text-gray-800 mb-6">
   He has studied BHMS from Rajkot Homeopathy medical College. He is presently, Director of <b>Shreeya Spine and Pain Management Center.</b>He has been practicing since last 20 years and has successfully treated more than<b>25,000 patients.</b> His remedies and insights have helped save thousands of lives fro surgery with the help of homeopathic medicine.
</p>
<p class="text-lg text-gray-800 mb-6">
      It's a proud feeling to have such telent and knowledge in our field.   
</p>
</section>
{% endblock %}
