{% extends "base.html" %}
{% block content %}

<section class="bg-white py-12">
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">

      <!-- Testimonial 1 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient1.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Sciatica</h3>
        <p class="text-sm text-gray-600">
          He was suffering from severe Sciatica pain and had consulted 2-3 doctors. All of them recommended surgery as the only solution. But instead, he chose SH Homeopathy. With consistent treatment over just 4 months, he recovered completely — without undergoing surgery. Today, he is perfectly fine, active, and living pain-free. His healing journey is a true example of how natural homeopathy can change lives.
        </p>
      </div>

       <!-- Testimonial 17 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient17.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Sciatica</h3>
        <p class="text-sm text-gray-600">
         She had sciatica pain for more than 5 years. She showed 3-4 doctors, but all of them said she needed surgery. Then she came to SH Homeopathy. Before the treatment, she couldn’t even stand for 10 minutes. But after just 2 months of treatment from SH Homeopathy, she can now sit, walk, and stand easily.
        </p>
      </div>

      <!-- Testimonial 2 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/p1.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Sciatica</h3>
        <p class="text-sm text-gray-600">
         She had sciatica pain for more than 5 years. She showed 3-4 doctors, but all of them said she needed surgery. Then she came to SH Homeopathy. Before the treatment, she couldn’t even stand for 10 minutes. But after just 2 months of treatment from SH Homeopathy, she can now sit, walk, and stand easily.
        </p>
      </div>

      <!-- Testimonial 6 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient6.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Scitica</h3>
        <p class="text-sm text-gray-600">
          “She had been battling sciatica for a long time — even standing for more than 10 minutes was painful. She had tried medicines from other doctors, but nothing brought lasting relief. Then she began treatment with SH Homeopathy. With consistent care and a customized remedy plan, her condition began to improve steadily. After just 4 months, she was able to stand comfortably for 30–45 minutes and perform her daily activities with ease. Today, she is completely fine — pain-free, active, and full of energy. Her story is a powerful reminder of the healing strength of homeopathy.”
        </p>
      </div>

      <!-- Testimonial 10 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient10.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Scitica</h3>
        <p class="text-sm text-gray-600">
         “He had been suffering from severe leg and back pain due to Sciatica for over 5 years. Despite taking treatment for 2 years in Jamnagar and consulting more than four different doctors, every one of them recommended surgery as the only option. But he chose a natural path with SH Homeopathy. After just 4 months of our specialized Sciatica kit, his pain completely vanished. Today, he can stand and work all day without discomfort — surgery was never needed. His recovery is a powerful reminder of how homeopathy can offer true relief, even in the most chronic cases.”
        </p>
      </div>

      <!-- Testimonial 12 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient12.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Scitica</h3>
        <p class="text-sm text-gray-600">
        “She was suffering from sciatica for a long time, with intense pain in her lower back and leg. Even after trying multiple doctors and treatments, the relief was temporary, and the pain always came back. Before starting SH Homeopathy’s kit, she could barely stand for more than 10 minutes. But after just 4 months of consistent homeopathic treatment, she now stands and moves comfortably for 30–45 minutes at a time. Today, she is completely pain-free, active, and living her life without the need for any harsh treatments or surgery.”
        </p>
      </div>

      <!-- Testimonial 15 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient15.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">O.A.Knee</h3>
        <p class="text-sm text-gray-600">
           A patient suffering from severe osteoarthritis in her knees was advised to undergo knee replacement surgery. She had tried various treatments from other doctors but saw no significant improvement. Eventually, she began Dr. Borisagar’s SH Homeopathy Kit. After 4–6 months of consistent treatment, she experienced remarkable relief — now she is able to walk comfortably, sit on the ground, and even run. Her mobility has returned without the need for surgery.
        </p>
      </div>

      <!-- Testimonial 2 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
      <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient2.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Avascular Necrosis (AVN)</h3>
        <p class="text-sm text-gray-600">
          “He had been suffering from intense joint pain caused by AVN for over 5 years. The discomfort affected his mobility and daily life. After trying various treatments without success, he began using SH Homeopathy’s AVN Kit. With consistent use over one year, his pain gradually reduced — and today, he is completely pain-free. No surgery, no harsh medicines — just natural healing that restored his quality of life.”
        </p>
      </div>

      <!-- Testimonial 8 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient8.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Avascular Necrosis (AVN)</h3>
        <p class="text-sm text-gray-600">
          “She was suffering from AVN with severe joint pain and stiffness. After starting SH Homeopathy treatment, she has experienced a significant reduction in pain. Her mobility has improved, and today she is much more active and comfortable — all without surgery."
        </p>
      </div>

       <!-- Testimonial 9 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient9.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Avascular Necrosis (AVN) </h3>
        <p class="text-sm text-gray-600">
         “She had been suffering from Avascular Necrosis (AVN) for over 5 years. Simple daily activities like walking or sitting were extremely painful, and her quality of life was severely affected. She was constantly dependent on painkillers just to get through the day. After starting SH Homeopathy’s AVN kit and following the treatment consistently for a year, she experienced a complete transformation. Today, she is able to walk, sit, and carry out her daily routine comfortably without needing any pain medication. Her story is a true example of natural healing through homeopathy.”
        </p>
      </div>

      <!-- Testimonial 11 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient11.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Avascular Necrosis (AVN)</h3>
        <p class="text-sm text-gray-600">
          “He was diagnosed with Avascular Necrosis (AVN), and every doctor he visited told him the same thing — that he would need joint replacement surgery. One doctor said he would have to walk with a walker for at least two years. Another warned that if he didn’t undergo surgery, he would need to get holes drilled in his back to relieve the pressure. Faced with fear and uncertainty, he chose SH Homeopathy instead. With our AVN treatment kit, he experienced natural recovery — without surgery, without a walker, and without invasive procedures. His progress is a true example of how safe, gentle care can restore hope and mobility.”
        </p>
      </div>

      <!-- Testimonial 3 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient3.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">PAD</h3>
        <p class="text-sm text-gray-600">
       “He came to us with severe PAD and could walk only 300 feet before needing to rest. He had never consulted any other doctor and decided to trust SH Homeopathy from the start. After just one month of treatment, his condition showed remarkable improvement — he was able to walk up to 3 kilometers without stopping. Today, he is completely fine, living an active, pain-free life without any medication or surgery — all thanks to our natural and effective homeopathy kit.”
        </p>
      </div>

       <!-- Testimonial 13 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient13.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">PAD</h3>
        <p class="text-sm text-gray-600">
        This patient had been suffering from PAD for over 5 years and could barely walk 500 meters without severe leg pain. After visiting several doctors without relief, he turned to Dr. Borisagar's SH Homeopathy. With just 3-4 months of our personalized kit, he regained his strength and can now comfortably walk 3-4 kilometers without pain. His life has dramatically improved — all without surgery or harsh medications.
        </p>
      </div>

      <!-- Testimonial 4 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient4.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Varicose Vein with Varicose Ulcer</h3>
        <p class="text-sm text-gray-600">
          “She was suffering from painful varicose veins along with a varicose ulcer, which caused persistent swelling, discomfort, and difficulty standing or walking for long periods. The ulcer was open and slow to heal, and swelling around the leg made daily life a struggle. After starting SH Homeopathy’s natural treatment kit, she began to see improvement in just a few weeks. The swelling reduced, the ulcer started healing, and she regained her ability to move around comfortably. Now, she is much better — with healed skin, improved circulation, and no side effects. Her journey shows how gentle homeopathy can help even in severe vein-related conditions.”
        </p>
      </div>

      <!-- Testimonial 4 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
        <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient16.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Varicose Vein</h3>
        <p class="text-sm text-gray-600">
She was suffering from severe varicose veins, accompanied by swelling, pain, and visible discomfort. After consulting a doctor in Rajkot, she was advised to undergo surgery. Before proceeding with the operation, she chose to try SH Homeopathy. Remarkably, after using just 50% of the treatment kit, she experienced significant relief. The pain reduced, the swelling diminished, and the veins became far less prominent — all without surgical intervention. She is truly grateful for the effective and natural healing offered by SH Homeopathy.
        </p>
      </div>

      <!-- Testimonial 5 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient5.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Spinal cord injury</h3>
        <p class="text-sm text-gray-600">
          “He was suffering from a serious spinal cord injury that left him unable to stand or walk. Daily activities were impossible, and he had lost hope after trying various treatments without results. Then he turned to SH Homeopathy. With regular and personalized care, after just 4 months of treatment, his condition dramatically improved. He regained his strength, balance, and the ability to walk again. Today, he is completely fine, active, and pain-free — living proof that natural homeopathy can restore mobility and transform lives.”
        </p>
      </div>
     <!-- Testimonial 7 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient7.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Spinal cord injury</h3>
        <p class="text-sm text-gray-600">
          “He is a young boy who suffered a spinal cord injury that left him unable to walk or stand. After starting SH Homeopathy's specialized kit, he experienced 50% relief in just 2 months. His strength and balance are improving, and he continues to recover well with ongoing treatment — a true sign of homeopathy's healing power."
        </p>
      </div>

      <!-- Testimonial 14 -->
      <div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
       <video class="w-full aspect-video rounded mb-4" controls>
          <source src="{{ url_for('static', filename='videos/Patient14.mp4') }}" type="video/mp4">
        </video>
        <h3 class="text-xl font-semibold text-gray-800 mb-1">Frozen shoulder</h3>
        <p class="text-sm text-gray-600">
            After a shoulder injury from an accident, this patient developed frozen shoulder and was unable to lift her hand. Several doctors recommended surgery, but she sought help from Dr. Borisagar. After consistent use of our SH Homeopathy Kit, she experienced a 90-95% improvement. Now, she can lift her arm, carry out daily tasks, and live pain-free without undergoing an operation. 
        </p>
      </div>

      <!-- Testimonial – Sports Injury (Image Instead of Video) -->
<div class="bg-[#f7f5ee] p-4 rounded shadow hover:shadow-lg transition">
  <img src="{{ url_for('static', filename='images/123.jpg') }}" alt="Mr. Sitanshu Kotak" class="w-full rounded mb-4">
  
  <h3 class="text-xl font-semibold text-gray-800 mb-1">Sports Injury - Osteoarthritis</h3>
  
  <p class="text-sm text-gray-600">
    Mr. Sitanshu Kotak, coach of the Indian Cricket Team, approached SH Homeopathy for the treatment of osteoarthritis resulting from a long-standing sports injury. After undergoing our specialized <b>Sports Injury Kit</b> protocol, he experienced noticeable relief in joint stiffness, pain, and mobility — without the need for invasive procedures or long-term medication.
  </p>
</div>

    </div>
  </div>
</section>

{% endblock %}
